*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: chartreuse;
}
.lisa
{
    height: 350px;
    width: 450px;
    background-color: darkmagenta;
    position: relative;
}
.ball {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 138px;
    left: 190px;
    animation: daksh 5.83s linear infinite;
}
 .stand {
    background-color: white;
    width: 50px;
    height: 170px;
    position: absolute;
    animation: rishi 2.05s linear infinite;
    /* top: 0px;  */
}
.lean
{
    background-color: white;
    width: 50px;
    height: 170px;
    position: absolute;
    right: 0;
    /* top: 0; */
    animation: yash 2.05s linear infinite;
}
 @keyframes rishi
{
    0%
    {
        top: 0;
    }
    50%
    {
        top: 180px;
    }
    100%
    {
        top: 0;
    }
}
@keyframes yash
{
    0%
    {
        top: 180px;
    }
    50%
    {
        top: 0;
    }
    100%
    {
        top: 180px;
    }
}
@keyframes daksh
{
    0%
    {
        left: 50px;
    }
    50%
    {
        left: 340px;
    }
    100%
    {
        left: 50px;
    } 
}

/* Media Queries Start */
@media screen and (min-width:320px) and (max-width:570px)
{
    .lisa 
    {
        height: 200px;
        width: 200px;
    }
    .stand 
    {
        width: 38px;
        height: 100px;
    }
    .lean
    {
        width: 38px;
        height: 100px;
    }
    .ball
    {
        width: 45px;
        height: 45px;
        top: 88px;
        left: 80px;
    }
    @keyframes daksh
    {
            0%
            {
                left: 35px;
            }
            50%
            {
                left: 120px;
            }
            100%
            {
                left: 35px;
            }  
    }
     @keyframes rishi
{
    0%
    {
        top: 0;
    }
    50%
    {
        top: 100px;
    }
    100%
    {
        top: 0;
    }
}
@keyframes yash
{
    0%
    {
        top: 100px;
    }
    50%
    {
        top: 0;
    }
    100%
    {
        top: 100px;
    }
}
}
@media screen and (min-width:570px) and (max-width:1024px)
{
     .lisa 
    {
        height: 320px;
    }
    @keyframes daksh
{
    0%
    {
        left: 50px;
    }
    50%
    {
        left: 340px;
    }
    100%
    {
        left: 50px;
    } 
} 
  @keyframes rishi
{
    0%
    {
        top: 0;
    }
    50%
    {
        top: 151px;
    }
    100%
    {
        top: 0;
    }
}
@keyframes yash
{
    0%
    {
        top: 151px;
    }
    50%
    {
        top: 0;
    }
    100%
    {
        top: 151px;
    }
}
 
}